<!--<app-itemslist></app-itemslist>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><h5>Surabhi Chain of Restaurants...</h5></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>

   
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>


<router-outlet></router-outlet>